<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilityindia">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".MobilityIndia"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dashboard" />
        <activity android:name=".Forgotpassword" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity android:name=".P2017" />
        <activity android:name=".P2018" />
        <activity android:name=".P2019" />
        <activity android:name=".P2020" />
        <activity android:name=".P2021" />
        <activity android:name=".P2022" />
        <activity android:name=".D20172" />
        <activity android:name=".D20181" />
        <activity android:name=".D20182" />
        <activity android:name=".D20191" />
        <activity android:name=".D20192" />
        <activity android:name=".D20201" />
        <activity android:name=".D20202" />
        <activity android:name=".D20211" />
        <activity android:name=".D20212" />
        <activity android:name=".D20221" />
        <activity android:name=".D20222" />
        <activity android:name=".D20171"
            android:exported="true" />

    </application>

</manifest>